<% provide(:title, "About" )%>
		<h1> About Us</h1>
		<p>
			The <a href = http://railstutorial.org/> Ruby on Rails Tutorial </a>
			é um projeto de construção de um livro e telas para ensinar o desenvolvimento de web com
			<a href = http://rubyonrails.org/ > Ruby on Rails Tutorial </a> </p><p>
			Este é um dos exemplos do tutorial.
		</p>
	