<% provide(:title, "Contact" )%>
		<h1> Contato</h1>
		<p>
			Contact Ruby on Rails Tutorial sobre este exercício de aplicativo 
			na <a href = http://railstutorial.org/contact> Ruby on Rails contact </a>
		</p>
	