<h1>Help </h1>
<p>
Consiga o Ajuda (Help) do tutorial do Ruby on Rails
em <a href = http://railstutorial.org/help> Rails Tutorial Help Page <\a>
Para obter ajuda sobre este aplicativo, veja <a href = http://railstutorial/org/book>
Rails Tutorial Book <\a>
</p>
